@import "../mixin"
.support-ico
    display: inline-block
    background-repeat: no-repeat

  .icon-1
    width: 12px
    height: 12px
    background-size: 12px 12px
    &.decrease
      bg-image('../../images/icon/decrease_1')
    &.discount
      bg-image('../../images/icon/discount_1')
    &.guarantee
      bg-image('../../images/icon/guarantee_1')
    &.invoice
      bg-image('../../images/icon/invoice_1')
    &.special
      bg-image('../../images/icon/special_1')

  .icon-2
    width: 16px
    height: 16px
    background-size: 16px 16px
    &.decrease
      bg-image('../../images/icon/decrease_2')
    &.discount
      bg-image('../../images/icon/discount_2')
    &.guarantee
      bg-image('../../images/icon/guarantee_2')
    &.invoice
      bg-image('../../images/icon/invoice_2')
    &.special
      bg-image('../../images/icon/special_2')

  .icon-3
    width: 12px
    height: 12px
    background-size: 12px 12px
    &.decrease
      bg-image('../../images/icon/decrease_3')
    &.discount
      bg-image('../../images/icon/discount_3')
    &.guarantee
      bg-image('../../images/icon/guarantee_3')
    &.invoice
      bg-image('../../images/icon/invoice_3')
    &.special
      bg-image('../../images/icon/special_3')

  .icon-4
    width: 16px
    height: 16px
    background-size: 16px 16px
    &.decrease
      bg-image('../../images/icon/decrease_4')
    &.discount
      bg-image('../../images/icon/discount_4')
    &.guarantee
      bg-image('../../images/icon/guarantee_4')
    &.invoice
      bg-image('../../images/icon/invoice_4')
    &.special
      bg-image('../../images/icon/special_4')